nav{
    background-color: #22BC67;
}
.btn{
    background-color: #1393FF;
}
nav ul a {
    font-weight: bolder;
}

.login-form{
    margin:auto;
    width: 400px;

    margin-top:5%;
}
input{
    padding-right: 2em;
    padding-left: 2em;
}