nav{
    background-color: #22BC67;
}
.page-footer{
    background-color: #22BC67!important;
}

.btn{
    background-color: #1393FF;
}
nav ul a {
    font-weight: bolder;
}

@media screen and (max-width: 620px) {
    .login-form{
        margin:auto;
        width: 300px;
        margin-top:5%;
    }
    .register-form{
        margin:auto;
        width: 300px;
        margin-top:5%;
    }
}
@media screen and (min-width: 620px) {
    .login-form{
        margin:auto;
        width: 400px;
        margin-top:5%;
    }
    .register-form{
        margin:auto;
        width: 400px;
        margin-top:5%;
    }
}

input{
    padding-right: 2em;
    padding-left: 2em;
}

li{
    text-align: justify;
    color:black!important;
    font-size: 16px!important;
}